<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://griffcosmostest.documents.azure.com:443/" />
        <add key="accountKey" value="BdvqHpentQLtdkVHJ031Wojpc3ACh4amiwaM7m78rHaYzCqzZ5Yq7b00VNmhhhlljx79YVvo5VWzv9zl1j5Y1w==" />
      </appSettings>
</configuration>