<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://learning-modules.documents.azure.com:443/" />
        <add key="accountKey" value="Bq873ltwtSACf94wFAV8qQidfHvTlvkUCV1j1pY0J5a8mc4lvbbpy7uETaf479yD3WLJ68ptmAFBPaDB9zK6nw==" />
      </appSettings>
</configuration>